/** @format */

.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#certificate {
	background-color: var(--theme-color, #ffffff);

	* {
		margin: 0;
	}

	&[data-direction="rtl"] {
		direction: rtl;
		font-family: "Alexandria", serif;
		line-height: 220%;
	}

	&[data-style="temp-1"],
	&[data-style="temp-2"],
	&[data-style="temp-3"],
	&[data-style="temp-4"] {
		.outer {
			background-color: hsl(0deg 0% 100% / 60%);
			border: 20px solid white;
		}

		.light-br {
			border: 3px solid var(--theme-color, rgba(177, 177, 177, 0.746));
			padding: 4px;
		}

		.dark-br {
			border: 15px solid var(--theme-color, rgba(135, 135, 135, 0.81));
			padding: 8px;
		}

		.main-content {
			display: flex;
			flex-flow: row nowrap;
			height: 800px;
			width: 1070px;
			border: 6px solid var(--theme-color, #b1b1b1);
		}

		&[data-orientation="h"] {
			.main-content {
				flex-direction: column;
				width: 800px;
				height: 1070px;
			}
		}

		.logo {
			margin-bottom: 24px;

			img {
				max-height: 60px;
			}
		}

		.congrats {
			> h2,
			> h3 {
				font-weight: 300;
			}

			> h2 {
				font-size: 28px;
			}

			> h3 {
				font-size: 24px;
			}
		}

		.course-name {
			color: #6e6f6e;
			margin-top: 45px;

			> h1 {
				font-size: 36px;
			}
		}

		.completion {
			margin-block-start: 8px;
			color: #707071;
			font-size: 20px;
			font-weight: 400;
		}

		.para {
			margin-top: 30px;
			color: #707071;
			font-size: 17px;
			font-weight: 400;
		}

		.authority {
			display: flex;
			align-items: flex-end;
			gap: 40px;
			margin-top: 14px;
			color: #707071;

			img {
				height: 80px;
				object-fit: cover;
			}

			h3 {
				font-size: 16px;
				font-weight: 500;
			}
		}

		.certificate-id {
			margin-top: auto;
			font-size: 13px;
		}
	}

	&[data-style="temp-1"],
	&[data-style="temp-3"] {
		.left-side {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 1 0 100%;
			max-width: 35%;

			> img {
				height: 100%;
			}
		}

		.right-content {
			display: flex;
			flex-direction: column;
			margin-block: 90px 40px;
			margin-inline: 20px 90px;
			font-family: "Lato", sans-serif;
			font-size: 18px;
			color: #737373;
			font-weight: 300;
			text-wrap-style: balance;
		}

		&[data-orientation="h"] {
			.left-side {
				max-height: 25%;
				max-width: unset;

				> img {
					height: unset;
					width: 100%;
				}
			}

			.right-content {
				margin-block: 40px;
				margin-inline: 90px;
				height: 100%;
			}
		}
	}

	&[data-style="temp-2"],
	&[data-style="temp-3"],
	&[data-style="temp-4"] {
		.content,
		.right-content {
			position: relative;
		}

		.badge {
			position: absolute;
			right: -10px;
			bottom: 40px;
			max-width: 160px;
		}

		&[data-direction="rtl"] {
			.badge {
				right: unset;
				left: -10px;
			}
		}
	}

	&[data-style="temp-2"],
	&[data-style="temp-4"] {
		.content {
			display: flex;
			flex-direction: column;
			flex: 1 0 0;
			margin: 90px;
			margin-block-end: 40px;
			font-family: "Lato", sans-serif;
			font-size: 18px;
			color: #737373;
			font-weight: 300;
			text-wrap-style: balance;
		}

		&[data-orientation="h"] {
			.content {
				height: 100%;
			}
		}
	}

	&[data-style="temp-3"] {
		// background-color: #eddfd2;

		.outer {
			padding: 20px;
			border: none;
		}

		.main-content {
			border-color: transparent;
			padding: 10px;
			height: 840px;
			width: 1110px;
		}

		.left-side {
			overflow: hidden;
			justify-content: start;
			max-width: 30%;
		}

		.badge {
			right: -20px;
			bottom: 30px;
		}

		&[data-orientation="h"] {
			.left-side {
				align-items: start;
			}
		}
	}

	&[data-style="temp-4"] {
		// background-color: #e9e4e0;

		.outer {
			background-color: transparent;
			padding: 50px;
			border: none;
		}

		.main-content {
			padding: 0;
			background-color: var(--theme-content-color, hsl(0deg 0% 100% / 60%));
			border-color: transparent;
		}

		&[data-orientation="h"] {
			.content {
				margin-block-start: 200px;
			}
		}

		.authority {
			justify-content: center;
			margin-top: 40px;
		}
	}
}
